
#container{ display: flex; height: 90vh; justify-content: space-between; margin: auto 200px;}
#ser{margin-left: 200px; margin-bottom: 5px;} 
button{background-color: rgb(136, 122, 150); width: 70px; color: black; border: solid 0px; box-shadow: 1px 1px 1px 1px;}